<section class="contacts section-offset">
  <div class="container contacts__container">
  <picture>
    <source srcset="img/contacts-image.avif" type="image/avif">
    <source srcset="img/contacts-image.webp" type="image/webp">
    <img loading="lazy" src="img/contacts-image.png, img/contacts-image@2x.png" class="contacts__image" width="710" height="640" alt="Девушка в украшениях">
  </picture>
    <div class="contacts__info">
      <h2 class="contacts__title">Телефон флагманского магазина
        <span class="contacts__phone">+7 800 456 456</span>
      </h2>
      <h2 class="contacts__news">подпишитесь на новости</h2>
      <form action="#" class="form">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input-contact input-name" placeholder="Введите E-mail" />
        </label>
      </form>
    </div>
  </div>
</section>
