<section class="customers section-offset">
  <div class="container">
    <h2 class="section-title customers__title">Мы<br>в социальных сетях</h2>
  </div>
  <div class="customers__wrapper">
    <div class="swiper customers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customers__item">
            <picture>
              <source srcset="img/customers-1.avif" type="image/avif">
              <source srcset="img/customers-1.webp" type="image/webp">
              <img loading="lazy" src="img/customers-1.png" class="customers__image" width="257" height="385" alt="Ирина Лайм">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customers__item">
            <picture>
              <source srcset="img/customers-2.avif" type="image/avif">
              <source srcset="img/customers-2.webp" type="image/webp">
              <img loading="lazy" src="img/customers-2.png" class="customers__image" width="386" height="385" alt="Марина Орлова">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customers__item">
            <picture>
              <source srcset="img/customers-3.avif" type="image/avif">
              <source srcset="img/customers-3.webp" type="image/webp">
              <img loading="lazy" src="img/customers-3.png" class="customers__image" width="308" height="385" alt="Максим Петров">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customers__item">
            <picture>
              <source srcset="img/customers-4.avif" type="image/avif">
              <source srcset="img/customers-4.webp" type="image/webp">
              <img loading="lazy" src="img/customers-4.png" class="customers__image" width="385" height="385"
                alt="Константин Назаров">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customers__item">
            <picture>
              <source srcset="img/customers-5.avif" type="image/avif">
              <source srcset="img/customers-5.webp" type="image/webp">
              <img loading="lazy" src="img/customers-5.png" class="customers__image" width="338" height="385" alt="Лиза Весенняя">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customers__item">
            <picture>
              <source srcset="img/customers-5.avif" type="image/avif">
              <source srcset="img/customers-5.webp" type="image/webp">
              <img loading="lazy" src="img/customers-5.png" class="customers__image" width="338" height="385" alt="Лиза Весенняя">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="customers__nav">
      <div class="swiper-scrollbar customers__scroll"></div>
      <div class="customers__btns">
        <button class="btn-reset customers__slider-btn customers__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
        <button class="btn-reset customers__slider-btn customers__slider-btn--next"
        aria-label="Перейти к следующему слайду"></button>
      </div>
    </div>
    <div class="customers__social">
      <ul class="social__list list-reset">
        <li class="social__item"><a href="#">
          <svg class="social__image">
          <use xlink:href="img/sprite.svg#fb"></use>
        </svg></a></li>
        <li class="social__item"><a href="#">
          <svg class="social__image">
          <use xlink:href="img/sprite.svg#inst"></use>
        </svg></a></li>
      </ul>
    </div>
  </div>
</section>
