<section class="gender section-offset">
  <div class="container gender__container">
    <div class="gender__wrapper">
      <picture class="gender__image">
        <source srcset="img/man.avif" type="image/avif">
        <source srcset="img/man.webp" type="image/webp">
        <img loading="lazy" src="img/man.png" class="gender__img" width="710" height="587" alt="Мужской образ в костюме">
      </picture>
      <div class="gender__text">
      <a href="#" class="gender__link btn btn-reset" data-scroll>Перейти в раздел</a>
      <h2 class="gender__descr">Для мужчин</h2>
      <img loading="lazy" src="img/border-line.svg" class="image" width="130" height="1" alt="Декор">
    </div>
    </div>
    <div class="gender__wrapper">
      <picture class="gender__image">
        <source srcset="img/women.avif" type="image/avif">
        <source srcset="img/women.webp" type="image/webp">
        <img loading="lazy" src="img/women.png" class="gender__img" width="710" height="587" alt="Женский образ в олицетворении женственности">
      </picture>
      <div class="gender__text">
      <a href="#" class="gender__link btn btn-reset" data-scroll>Перейти в раздел</a>
      <h2 class="gender__descr">Для женщин</h2>
      <img loading="lazy" src="img/border-line.svg" class="" width="130" height="1" alt="Декор">
    </div>
  </div>
  </div>
</section>
