<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="258" height="53" alt="Логотип Moon River">
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Ювелирные изделия</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Часы</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Ароматы</a></li>
        <li class="nav__item"><a href="#t" class="nav__link" data-menu-item data-scroll>Бренды</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Изделия из кожи</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Свадебные украшения</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Другое</a></li>
      </ul>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
    </nav>
    <div class="header__profile">
      <a href="#" class="hearth header__hearth"></a>
      <a href="#" class="lk header__lk"></a>
      <a href="#" class="password header__password"></a>
    </div>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>

</header>
