<section class="product">
  <div class="container product__container">
    <ul class="product__list list-reset">
      <li class="product__column">
      <ul class="product__column--list list-reset">
        <li class="product__column--item">
        <picture>
          <source srcset="img/jows.avif" type="image/avif">
          <source srcset="img/jows.webp" type="image/webp">
          <img loading="lazy" src="img/jows.png" class="image" width="260" height="180" alt="Кольцо Jows, Cartier">
        </picture>
        <div class="product__text-wrapper">
          <a href="#" class="product__link" btn btn-reset>Кольцо jow’s, Cartier</a>
          <p class="product__descr">Белое золото, бриллианты</p>
          <span class="product__price">674 000 ₽</span>
        </div>
      </li>
      <li class="product__column--item">
        <picture>
          <source srcset="img/croix.avif" type="image/avif">
          <source srcset="img/croix.webp" type="image/webp">
          <img loading="lazy" src="img/croix.png" class="image" width="260" height="167" alt="Кольцо Croix, Cartier">
        </picture>
        <div class="product__text-wrapper">
        <a href="#" class="product__link" btn btn-reset>Кольцо croix, Cartier</a>
        <p class="product__descr">Желтое, белое, розовое золото</p>
        <span class="product__price">432 000 ₽</span>
      </div>
      </li>
    </ul>
      <li class="product__fullsize fullsize">
        <picture>
          <source srcset="img/etoile.avif" type="image/avif">
          <source srcset="img/etoile.webp" type="image/webp">
          <img loading="lazy" src="img/etoile.png" class="fullsize__image" width="600" height="805" alt="">
        </picture>
        <div class="fullsize__text">
          <a href="#" class="fullsize__link btn btn-reset" data-scroll>Колье etoile, HUBLOT</a>
          <p class="product__descr">Белое золото, бриллианты</p>
          <span class="product__price">539 000 ₽</span>
        </div>
      </li>
      <li class="product__column">
        <ul class="product__column--list list-reset">
          <li class="product__column--item">
          <picture>
          <source srcset="img/hublot.avif" type="image/avif">
          <source srcset="img/hublot.webp" type="image/webp">
          <img loading="lazy" src="img/hublot.png" class="earrings__hublot" width="320" height="320" alt="Серьги moon, HUBLOT">
        </picture>
        <div class="product__text-wrapper">
        <a href="#" class="product__link btn btn-reset">Серьги moon, HUBLOT</a>
        <p class="product__descr">Желтое золото, сапфир</p>
        <span class="product__price">498 000 ₽</span>
      </div>
      </li>
      <li class="product__column--item">
        <picture>
          <source srcset="img/blancpain.avif" type="image/avif">
          <source srcset="img/blancpain.webp" type="image/webp">
          <img loading="lazy" src="img/blancpain.png" class="earrings__blancpain" width="314" height="314" alt="серьги win, BLANCPAIN">
        </picture>
        <div class="product__text-wrapper">
        <a href="#" class="product__link btn btn-reset">серьги win, BLANCPAIN</a>
        <p class="product__descr">Желтое золото, жемчуг</p>
        <span class="product__price">398 000 ₽</span>
        </div>
      </li>
    </ul>
  </ul>
  </div>
</section>
